@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1e293b;
  --igil-accent: #f0ab00;
  --igil-action: #1c01a5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-igil-accent: #f0ab00;
  --color-igil-action: #1c01a5;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
